<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Register Product</title>
  </head>
  <body>
    <h1>Register Product</h1>
    <form action="/connectionSql/data_product" method="post">
      <input type="text" name="name" placeholder="Digite nome do produto" />
      <input
        type="text"
        name="quantity"
        placeholder="Digite a quantidade do produto"
      />
      <input type="text" name="price" placeholder="Digite o preço do produto" />

      <input type="submit" value="Cadastrar" />
    </form>
    <a href="/products/home">Voltar para inicio</a>
  </body>
</html>
